
.divider {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.dividerText {
  padding: 0 10px;
  color: #999;
  font-size: 16px;
}
.background{
    background: url('/public/bg.jpeg');
    background-size: cover;
    background-position: center;
}
.hoverbg{
    background: #3d3d3d;
}